<!DOCTYPE html>
<html>
<head>
    <style>
        h1 {
          border-style: double;
        }
        
        div {
          border-style: double;
        }
        p {
          border-style: ridge;
        }
        </style>
    <title>Quiz 5</title>
</head>
<body>
<div style="text-align: center">
    <h1>Srinija Katakam</h1>
    <h3>1001861512</h3>
    <h3>Quiz 5</h3>
</div>
<div>
    <form action="{{url_for('index')}}" enctype=multipart/form-data method="POST" style="width:30%;">
        <label for="words">Enter text to save in file</label>
        <input type="text" id="words" name="words">
        <label for="filename">Enter the file name </label>
        <input type="text" id="filename" name="filename">
        <a href="/"><input type="submit" value="Save File"></a>
        <p>
           filename  : {{ textfile }}
        </p>
        <p>
            Count of words in a textfile is : {{ number }}
        </p>
    </form>

    <form action="{{url_for('search_occurances')}}" enctype=multipart/form-data method="POST" style="width:30%;">
        <label for="word">Enter a word to find the occurances</label>
        <input type="text" id="word" name="word">
        <a href="/searchoccurances"><input type="submit" value="Find occurance"></a>
        <p>
            The number of occurance of the entered word is :{{ occu }}
        </p>    </form>
</div>
</body>
</html>